{% extends "layouts/base.njk" %}

{% block content %}
  <section class="home-hero">
    <div class="container">
      <div class="home-hero__wrapper">
        <img class="home-hero__img" src="https://placehold.co/400x480/14794f/white" alt="Profile Picture" loading="lazy">
        <h1 class="home-hero__name">Mani Raja</h1>
      </div>
    </div>
    <div class="marquee">
      <div class="marquee__slide-wrapper">
        <div class="marquee__slide">
          <p class="marquee__text">Designer</p>
          <div class="marquee__divider"></div>
          <p class="marquee__text">Developer</p>
          <div class="marquee__divider"></div>
          <p class="marquee__text">Editor</p>
          <div class="marquee__divider"></div>
        </div>
      </div>
      <div class="marquee__slide-wrapper">
        <div class="marquee__slide">
          <p class="marquee__text">Designer</p>
          <div class="marquee__divider"></div>
          <p class="marquee__text">Developer</p>
          <div class="marquee__divider"></div>
          <p class="marquee__text">Editor</p>
          <div class="marquee__divider"></div>
        </div>
      </div>
    </div>
    <div class="circular-loop">
      <img src="./images/circular-loop.webp" alt="" class="circular-loop__img">
    </div>
  </section>

  <section class="home-about">
    <div class="container">
      <div class="home-about__content">
        <div class="home-about__intro-wrapper">
          <p class="home-about__intro-text">I am Mani Raja, a full-stack developer who loves building smooth web experiences. From front-end to back-end, I build clean, scalable solutions.
          </p>
          <a href="/about" class="primary-link">
            <span class="primary-link__text">Discover More</span>
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}