{% extends "layouts/base.njk" %}

{% block content %}
  <section class="home-about">
    <div class="container">
      <div class="home-about__content">
        <div class="home-about__intro-wrapper">
          <p class="home-about__intro-text">I am Mani Raja, a full-stack developer who loves building smooth web experiences. From front-end to back-end, I build clean, scalable solutions.
          </p>
          <a href="/about" class="primary-link">
            <span class="primary-link__text">Discover More</span>
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}