/* 
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  -webkit-font-smoothing: antialiased;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

button {
  all: unset;
  outline: revert;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* Theme variables */

:root {
  --font: "Inter", sans-serif;
  --background: #edfeed;
  --black: #0a0a0a;
  --white: #fefefe;
  --grey: #353535;
  --green: #14794f;
  --gold: #d0ad51;
  --spacing: 0.25rem;
  --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
}

body {
  background-color: var(--background);
  color: var(--black);
  font-family: var(--font);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

.container {
  margin: 0 auto;
  padding: 0 calc(var(--spacing) * 7);
  width: 100%;
  max-width: 80rem;
}

.primary-link {
  position: relative;
  padding: var(--spacing) 0;
  color: var(--white);
}

.primary-link__text {
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.02em;
}

/* Header styles */

.skip-link {
  position: absolute;
  left: 50%;
  z-index: 100;
  display: inline-block;
  background-color: var(--black);
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
  color: var(--white);
  text-decoration: underline;
  text-underline-offset: 4px;
  transform: translate(-50%, -100%);
  transition: transform 300ms;
}

.skip-link:focus {
  outline: none;
  transform: translate(-50%, 10%);
}

.site-head {
  position: relative;
  z-index: 50;
}

.site-head__inner {
  --header-pad: calc(var(--spacing) * 5) calc(var(--spacing) * 6);
  position: absolute;
  inset: 0 0 auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--header-pad);
  width: 100%;
}

.site-head__brand {
  color: var(--black);
  font-size: 1.75rem;
  font-weight: 500;
}

.nav__menu-btn {
  position: relative;
  z-index: 10;
  display: flex;
  column-gap: 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav__menu-lines-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.nav__menu-line {
  --menu-line-scale-x: 1;
  --menu-line-translate-y: 0;
  position: absolute;
  margin: auto;
  background-color: var(--black);
  width: 60px;
  height: 2.25px;
  transition: transform 250ms var(--ease-out);
  transform: scaleX(var(--menu-line-scale-x))
    translateY(var(--menu-line-translate-y));
}

.nav__menu-line-1 {
  top: -12px;
  bottom: 0;
}

.nav__menu-line-2 {
  top: 0;
  bottom: -12px;
}

.nav__menu-text-wrapper {
  height: 30px;
  overflow: hidden;
}

.nav__menu-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.02em;
  transition: transform 250ms var(--ease-out);
}

.nav__menu-wrapper {
  position: fixed;
  inset: 0;
  z-index: 1;
  display: var(--nav-menu-display, none);
  background-color: var(--background);
  overflow-y: auto;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--spacing) * 15) calc(var(--spacing) * 12);
  width: 100%;
  height: 100%;
}

.nav__menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: var(--menu-list-gap-x, 80px);
  padding: 0;
  max-width: 62rem;
}

.nav__menu-image-wrapper {
  display: var(--menu-image-display, none);
  width: 50%;
}

.nav__menu-image {
  width: var(--menu-image-width, auto);
  height: var(--menu-image-height, 400px);
  object-fit: cover;
}

.nav__menu-links-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: var(--align-items, center);
  text-align: var(--text-align, center);
}

.nav__menu-list-item {
  position: relative;
  padding: var(--spacing) 0;
}

.nav__menu-link {
  color: var(--black);
  font-size: var(--text-size, 3.125rem);
  font-weight: 500;
  line-height: var(--leading, 60px);
}

.site-head__contact {
  margin-top: var(--header-contact-mt, 1.25rem);
}

.contact-links {
  --contact-links-gap-y: 10px;
  display: flex;
  flex-direction: column;
  row-gap: var(--contact-links-gap-y);
}

.contact-link {
  display: flex;
  column-gap: 10px;
  margin: 0 var(--margin-x, auto);
  color: var(--black);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 26px;
  transition: background-color 500ms ease-in-out;
}

/* Before & After styles */

.primary-link::before,
.primary-link::after {
  content: "";
  position: absolute;
  inset: auto 0 0;
  background-color: var(--white);
  width: 100%;
  height: 1px;
  transition: transform 350ms ease-in-out;
  transform-style: preserve-3d;
  will-change: transform;
}

.primary-link::before {
  transform-origin: right;
  transform: scaleX(var(--line1-scale-x, 1));
}

.primary-link::after {
  transition-delay: var(--line2-transition-delay, 0);
  transform: scaleX(var(--line2-scale-x, 0));
  transform-origin: left;
}

.nav__menu-lines-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #fcda80;
  opacity: 0;
  border-radius: 50%;
  transition: opacity 250ms 50ms var(--ease-out);
}

.nav__menu-list-item::before {
  content: "";
  position: absolute;
  inset: auto 0 0;
  background-color: var(--black);
  width: 100%;
  height: 1px;
  transform: scale(var(--line-scale-x, 0));
  transform-origin: left;
  will-change: transform;
  transition: transform 450ms cubic-bezier(0.33, 1, 0.68, 1);
}

/* Footer styles */
.site-foot__inner {
  --footer-pad-top: calc(var(--spacing) * 15);
  padding: var(--footer-pad-top) 0 7rem;
}

.site-foot__content {
  --foot-content-gap-y: 40px;
  --foot-content-flex-flow: column wrap;
  display: flex;
  flex-flow: var(--foot-content-flex-flow);
  align-items: center;
  justify-content: space-between;
  row-gap: var(--foot-content-gap-y);
}

.site-foot__img-wrapper {
  order: var(--order, -1);
}

.site-foot__img {
  --foot-img-width: 130px;
  --foot-img-height: 130px;
  width: var(--foot-img-width);
  height: var(--foot-img-height);
  object-fit: cover;
}

.social-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  column-gap: 16px;
}

.social-link {
  color: var(--black);
}

/* Home hero section */
.home-hero {
  position: relative;
  background: url("../images/hero-background.svg") 100% 0 / cover no-repeat
    fixed;
  padding: var(--home-hero-pad-t, calc(var(--spacing) * 27)) 0
    var(--home-hero-pad-b, calc(var(--spacing) * 22));
  overflow: hidden;
}

.home-hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: var(--home-hero-gap-y, 20px);
}

.home-hero__img {
  margin: 0 auto;
  width: var(--home-hero-img-width, 130px);
  height: var(--home-hero-img-height, 150px);
  object-fit: cover;
}

.home-hero__name {
  margin: 0 auto;
  font-size: var(--home-hero-text-size, 5rem);
  font-weight: 700;
  line-height: var(--home-hero-leading, 100px);
  text-align: center;
}

.marquee {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--marquee-gap-x, 40px);
  margin-top: var(--marquee-margin-t, 0.625rem);
  overflow: hidden;
}

.marquee__slide-wrapper {
  display: flex;
  align-items: flex-start;
  column-gap: var(--marquee-slide-wrapper-gap-x, 40px);
  animation: marquee linear 25s infinite;
}

.marquee__slide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--marquee-slide-gap-x, 40px);
}

.marquee__text {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, var(--green), var(--gold));
  background-clip: text;
  font-size: var(--marquee-text-size, 5rem);
  font-weight: 700;
  line-height: var(--marquee-leading, 150px);
  letter-spacing: -0.05em;
}

.marquee__divider {
  margin-top: var(--marquee-divider-margin-t, 20px);
  background-color: #bcd7a4;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.circular-loop {
  position: absolute;
  inset: auto 0% 0%;
  margin: 0 auto var(--circular-loop-margin-t, -4.75rem);
  width: var(--circular-loop-width, 150px);
  height: var(--circular-loop-height, 150px);
  animation: circular-loop linear 15s infinite;
}

.circular-loop__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Home about section */
.home-about {
  --padding-y: calc(var(--spacing) * 22);
  background-color: var(--black);
  padding: var(--padding-y) 0;
}

.home-about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: var(--home-about-gap-y, 40px);
  margin: 0 auto;
  width: 100%;
  max-width: 64rem;
  text-align: center;
}

.home-about__intro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: var(--home-about-intro-gap-y, 40px);
}

.home-about__intro-text {
  color: var(--white);
  font-size: var(--intro-text-size, 1.75rem);
  font-weight: 500;
  line-height: var(--intro-text-leading, 46px);
  letter-spacing: -0.02em;
  text-wrap: balance;
}

/* Hover styles */

.primary-link:hover {
  --line1-scale-x: 0;
  --line2-scale-x: 1;
  --line2-transition-delay: 350ms;
}

.primary-link:hover::after {
  transition-delay: 350ms;
}

.nav__menu-btn:hover .nav__menu-lines-wrapper::before {
  opacity: 1;
}

.nav__menu-btn:hover .nav__menu-line {
  --menu-line-scale-x: 0.55;
}

.contact-link:hover {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, var(--green), var(--gold));
  -webkit-background-clip: text;
  background-clip: text;
}

.nav__menu-list-item:hover::before {
  --line-scale-x: 1;
}

.social-link:hover {
  color: var(--green);
}

/* Transition styles */
.nav__menu-btn[aria-expanded="true"] .nav__menu-text {
  transform: translateY(-30px);
}

.nav__menu-btn[aria-expanded="true"] .nav__menu-line-1 {
  --menu-line-translate-y: 7px;
}

.nav__menu-btn[aria-expanded="true"] .nav__menu-line-2 {
  --menu-line-translate-y: -5px;
}

/* Attribute styles */
.nav__menu-btn[aria-expanded="true"] + .nav__menu-wrapper {
  --nav-menu-display: block;
}

/* Animations */

@keyframes marquee {
  from {
    transform: translateX(var(--marquee-translate-x, 40px));
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes circular-loop {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* Media Queries */

@media screen and (min-width: 40rem) {
  .site-foot__inner {
    --foot-pad-top: calc(var(--spacing) * 17);
  }

  .home-about__content {
    --home-about-gap-y: 50px;
  }

  .home-about__intro-wrapper {
    --home-about-intro-gap-y: 50px;
  }
}

@media screen and (min-width: 48rem) {
  .site-head__inner {
    --header-pad: calc(var(--spacing) * 9);
  }

  .nav__menu-image-wrapper {
    --menu-image-display: block;
  }

  .nav__menu-links-wrapper {
    --text-align: left;
    --align-items: start;
  }

  .nav__menu-links-wrapper {
    --margin-t: 2.5rem;
  }

  .site-head__contact {
    --header-contact-mt: 2.5rem;
  }

  .contact-links {
    --contact-links-gap-y: 20px;
  }

  .contact-link {
    --margin-x: 0;
  }

  .site-foot__content {
    --foot-content-gap-y: 0;
    --foot-content-flex-flow: initial;
  }

  .site-foot__img-wrapper {
    --order: 0;
  }

  .home-hero {
    --home-hero-pad-t: 0;
    --home-hero-pad-b: calc(var(--spacing) * 35);
  }

  .home-hero__wrapper {
    --home-hero-gap-y: 90px;
  }

  .home-hero__name {
    --home-hero-text-size: 7.75rem;
    --home-hero-leading: 150px;
  }

  .marquee__text {
    --marquee-text-size: 7.75rem;
  }

  .home-about {
    --padding-y: calc(var(--spacing) * 37);
  }

  .home-about__intro-text {
    --intro-text-size: 2.375rem;
    --intro-text-leading: 60px;
  }
}

@media screen and (min-width: 64rem) {
  .nav__menu-list {
    --menu-list-gap-y: 260px;
  }

  .nav__menu-image {
    --menu-image-width: auto;
    --menu-image-height: auto;
  }

  .nav__menu-link {
    --text-size: 5rem;
    --leading: 120px;
  }

  .site-foot__img {
    --foot-img-width: 200px;
    --foot-img-height: 240px;
  }

  .home-hero {
    --home-hero-pad-b: calc(var(--spacing) * 66);
  }

  .home-hero__wrapper {
    --home-hero-gap-y: 120px;
  }

  .home-hero__img {
    --home-hero-img-width: 200px;
    --home-hero-img-height: 240px;
  }

  .home-hero__name {
    --home-hero-text-size: 12.5rem;
    --home-hero-leading: 240px;
  }

  .marquee {
    --marquee-gap-x: 75px;
    --marquee-margin-t: 1.875rem;
  }

  .marquee__slide-wrapper {
    --marquee-slide-wrapper-gap-x: 75px;
    --marquee-translate-x: 75px;
  }

  .marquee__slide {
    --marquee-slide-gap-x: 75px;
  }

  .marquee__text {
    --marquee-text-size: 12.5rem;
    --marquee-leading: 240px;
  }

  .marquee__divider {
    --marquee-divider-margin-t: 50px;
  }

  .circular-loop {
    --circular-loop-margin-t: -5rem;
    --circular-loop-width: 160px;
    --circular-loop-height: 160px;
  }

  .home-about__intro-text {
    --intro-text-size: 2.875rem;
    --intro-text-leading: 72px;
  }
}
